# Godot 4+ specific ignores
.godot/
.import/

# Mono-specific ignores
.mono/
data_*/
mono_crash.*.json

# Build results
builds/
export/
*.import

# OS specific
.DS_Store
Thumbs.db

# Editor
*.swp
*.swo
*~
.vscode/
.idea/

# Logs
*.log
godot.linuxbsd.editor.x86_64
doc/
modules/voxel/doc/
platform/
